footer.svelte-sar7eh{
    display: none !important;
}

main.fillable.svelte-17win23.app{
    width: 100% !important;
    max-width: none !important;
    padding: auto;
    margin: auto;
}

.update-button {
    max-width: 8.8em;
    min-width: 2.2em !important;
    height: 45px;
    align-self: end;
    line-height: 1em;
    border-radius: 0.375rem;
    flex: none;
}
